.dropdownscroll
{
    max-height: 35vh;
    overflow-y: scroll;
}
.logo
{
    height: 25vh !important;
}
.item
{
    width: 59.1%;
}
@media (min-width: 576px)
{
    .dropdownChild
    {
        padding-left: 6vw !important;
    }
}
@media (min-width: 992px)
{
    .dropdownChild
    {
        padding-left: 2vw !important;
    }
}
td
{
    font-size: small;
}
.zdjeciedura
{
    width: 22px !important;
}
.karta
{
    height: 40vh !important;
}