.dropdownscroll
{
    max-height: 35vh;
    overflow-y: scroll;
}
.logo
{
    height: 25vh !important;
}
.item
{
    width: 59.1%;
}
@media (min-width: 1px)
{
    .dropdownChild
    {
        padding-left: 10vw !important;
    }
}
@media (min-width: 576px)
{
    .dropdownChild
    {
        padding-left: 6vw !important;
    }
}
@media (min-width: 992px)
{
    .dropdownChild
    {
        padding-left: 2vw !important;
    }
}
.td-item
{
    font-size: small;
}
.zdjeciedura
{
    width: 22px !important;
}
.karta
{
    height: 90% !important;
}
.tekst
{
    padding-right: 1.5rem;
    text-align: justify;
}
@font-face {
  font-family: 'dsr_font';
  src: url(../assets/fonts/OptimusPrinceps.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dsr_font';
  src: url(../assets/fonts/OptimusPrincepsSemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
body
{
    font-family: 'dsr_font';
    letter-spacing: 0.5px !important;
}
.tabela
{
    vertical-align:middle;
}